.project {
  width: 100%;
  display: block;
  margin: auto;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  display: block;
}

.project-first {
  width: 400px;
  margin: auto;
}
h5 {
  text-align: center;
  color: antiquewhite;
}
